@import 'settings';
@import 'global';


.container {
     max-width: 1440px;
          max-height: 960px;
     margin: 0 auto;
     height: 100vh;
     position: relative;

     .img-hero {
          position: absolute;
          width: 505px;
          height: 330px;
          left: 230px;
          top: 96px;
          // background-image: url(/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_16_9\,c_fill\,g_auto__c_scale\,w_720.jpg);
     };
};

.content {
     position: absolute;
     width: 380px;
     height: 250px;
     left: 830px;
     top: 136px;
     margin-left: 95px;

     .content-title {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 120%;
          color: $colorDark;
     };

     .content-description{
          padding-top: 24px;
          padding-bottom: 30px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 150%;
          color: $colorDark;
     };

     .content-btn {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 16px 40px;
          gap: 10px;
          border:none;
          background: $colorButton;
          border-radius: 32px;

          .span-btn {
               width: 48px;
               height: 16px;
               font-family: 'Roboto';
               font-style: normal;
               font-weight: 700;
               font-size: 16px;
               line-height: 100%;
               color: $colorWhite;
               flex: none;
               order: 0;
               flex-grow: 0;
          };
     };
};

@media (max-width:1430px){

     .container {
          .img-hero {
               position: absolute;
               left: 46%;
               top: 30%;
               transform: translate(-50%, -50%);
          };
     };

     .content {
          position: absolute;
          left: 50%;
          top: 65%;
          transform: translate(-50%, -50%);
          margin-left: 0;


          .content-title {
               text-align: center;
          };

          .content-description{
               text-align: center;
          };

          .content-btn {
               display: block;
               margin: 0 auto;
          };
     };
};